*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lefts span{
   color:#f6214b;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 80px auto;
}
